//------------------
//----MAIN COLORS -------
//------------------
$font-color-primary: #212121;
$color-white: #FFFFFF;
$btn-color-primary: #2196F3;



$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1:#f7f7f7;
$color-gray-light-2:#eee;
// --------------------


// --------------------
//----- font size -------
//------------------
$default-font-size:1.6rem;